<div class="container">
    <h5> <%= current_user.email%> </h5>
    <h4> Users </h4>
    <%= render partial: "users/user", collection: @users %>
    <h4> Rooms </h4>
    <%= render partial: 'rooms/room', collection: @rooms %>
</div>